.mc-chart {
  width: 100%;
  position: relative;
  display: table;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #111;
}

.mc-thead {
  width: 15%;
  position: absolute;
  top: 80px;
  border: 1px solid #ccc;
  padding: 10px;
}

.left-key .mc-thead { left: 10px; }

.right-key .mc-thead { right: 10px; }

.mc-tbody {
  width: 65%;
  border: 1px solid #ccc;
  padding: 10px;
  display: table-row-group;
}

.mc-bar-cell { display: block; }

.mc-tbody .mc-tr {
  border-bottom: 1px solid #111;
  padding: 10px 0;
  display: table-row;
}


.mc-key-cell {
  width: 30%;
  padding-right: 10px;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}

.no-key .mc-thead { display: none; }
.no-key .mc-tbody { width: 90%; }
.no-key.mc-chart { padding-left: 0; }

.mc-bar-cell {
  background: red;
  text-indent: 5px;
  color: white;
}

.mc-bar-cell:nth-child(4n+2) {
  background-color: #1a2791;
}

.mc-th:nth-child(1) { display: none; }
.mc-th { padding-left: 6px; border-left: 16px solid; margin-bottom: 3px; }
.mc-th:nth-child(4n+2) {
  border-left: 16px solid #1a2791;
}

.mc-bar-cell:nth-child(4n+3) {
  background-color: #005abb;
}
.mc-th:nth-child(4n+3) {
  border-color: #005abb;
}


.mc-bar-cell:nth-child(4n+4) {
  background-color: #5bb4e5;
}

.mc-th:nth-child(4n+4) {
  border-color: #5bb4e5;
}

.mc-bar-cell:nth-child(4n+5) {
  background-color: #55bab7;
}

.mc-th:nth-child(4n+5) {
  border-color: #55bab7;
}

.mc-stacked .mc-bar-cell, .mc-stacked-total {
  display: inline-block; margin-right: 1px;
}

.mc-stacked .mc-th:last-of-type { display: none; }

.mc-td { margin-bottom: 3px; padding-top: 5px; padding-bottom: 5px;}

.mc-bar-negative {
  direction: rtl;
  text-indent: 8px;
}
